%br
.row
	.medium-6.large-6.columns.right.text-center
		%a{ href: board_game_path(@game_play.board_game.id) }
			%h1 
				%strong 
					= @game_play.board_game.name
		%h3= @game_play.date_string
	.medium-6.large-6.columns.left
		%img.image-center{ src: @game_play.board_game.image }
		%br
	.medium-6.large-6.columns.right.text-center
		%a.button.large.columns{href: edit_game_play_path(@game_play.id) } Edit
		= link_to 'Duplicate', duplicate_game_play_path(@game_play.id), method: :post, class: "button large columns"
		= link_to 'Delete', game_play_path(@game_play.id),
			confirm: "Are you sure?", method: :delete, class: "button large columns"
.row
	.medium-6.large-6.columns.right
		- if !@game_play.description.blank?
			%h1.text-center Description
			%p= @game_play.description
	.medium-6.large-6.columns.left
		%h1.text-center
			%strong= @game_play.player_count_string
		- @game_play.players.each do |p|
			%a.button.columns.text-left{href: player_path(p.id) }
				%img.inline{ src: p.image, style: "margin-right: 10px;" }
				%h2.inline
					%strong= p.name
				