.row
	%h1.text-center 
		%strong Edit

= form_for @player do |f|
	.row
		= render 'shared/error_messages', object: f.object
		.medium-8.large-6.columns.small-centered
			= f.text_field :name, placeholder: "Name"
		.medium-8.large-6.columns.small-centered
			= f.text_field :facebook, placeholder: "Facebook Name"
		.medium-8.large-6.columns.small-centered
			= f.submit "Save", class: "button small right"