- provide(:title, @board_game.name)
%br
.row
	.medium-6.large-6.columns.right.text-center
		%h1 
			%strong 
				= @board_game.name
	.medium-6.large-6.columns.left
		%img.image-center{ src: @board_game.image_url }
		%br
	.medium-6.large-6.columns.right.text-center
		%a.button.large.columns{href: edit_board_game_path(@board_game.id) } Edit
		%a.button.large.columns.disabled Delete
.row
	.medium-6.large-6.columns.text-center
		%h1= "Played: #{@board_game.game_plays.count}"
		- @board_game.game_plays.each do |gp|
			.board-game-game-play
				%h3= gp.date_string
				%h5= gp.players_string
				%br